@model IEnumerable<WebAppBanco.Models.Tarjetas>

@{
    ViewData["Title"] = "Gestion de Tarjetas de Credito";
}


<p>
    <a asp-action="Create" class="btn btn-secondary">Agregar nueva tarjeta de crédito</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="AgregarCompra" asp-route-id="@item.Id">Agregar Compra</a> |
                    <a asp-action="ListaCompras" asp-route-id="@item.Id">Ver Compras</a>
=======
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Borrar</a> |
                    <a asp-action="AgregarCompra" asp-route-id="@item.Id" class="btn btn-success btn-sm">Agregar Compra</a> |
                    <a asp-action="AgregarPago" asp-route-id="@item.Id" class="btn btn-info btn-sm">Agregar Pago</a> |
                    <a asp-action="ListaCompras" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Estado de cuenta</a> |
                    <a asp-action="Transacciones" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Transacciones</a>
>>>>>>> Stashed changes
                </td>



        </tr>
}
    </tbody>
</table>
